
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


@media only screen and (min-width: 1207px){



}


@media only screen and (min-width: 730px) and (max-width: 1206px) {



    .form .AuthInput {

        margin: 0 auto;
        width: 220px;
        alignment: center;
        display: block;
    }



}@media only screen and (max-width: 729px)  {



    .form .AuthInput {

        margin: 0 auto;
        width: 220px;
        alignment: center;
        display: block;
    }



}